
<section id="last">
<div class="lastsection">
    <div class="foot">
        <h3 style="font-weight: bold;">Download Our App</h3>
        <button type="button" class="btn btn-light btn-md bt" ><i class="fa-brands fa-apple"></i> Download</button>
        <button type="button" class="btn btn-light btn-md bt"><i class="fa-brands fa-google-play"></i> Download</button><br>
        <i class="fa-brands fa-twitter ic"></i>
        <i class="fa-brands fa-facebook ic"></i>
        <i class="fa-brands fa-instagram ic"></i>
        <i class="fa-solid fa-message ic"></i>
        <p class="l">Made with ❤️ by Surbhi's</p>
        <p class="l">© Surbhi's</p>
    </div>
</div>
</section>

</body>
</html>