<%- include("partials/header"); -%>
<span id="middle">
<div class=" middlebox">
<div class="row">
<div class="col-lg-6">
<p class="text"><%= homeContent %></p>
<button onclick="window.location.href = '/template';" type="button" class="btn btn-success btn-lg startbutton"  >Get Started</button>
</div>
<div class="col-lg-6 "> 
<img src="/images/cartoon-meal-planner_52683-83668.avif" class="img2" alt="">

</div>
</div>
</span>
</section>


<%- include("partials/footer"); -%>